<div class="list-tricks" trick-list></div>

<div class="clearfix  bg-primary row" form-video-tag video="video" edition-tag="editionTag"></div>

<div class="container margin-top">
    <div class="bg-primary padding-sm border-radius" id="AddTrickRules">
        <h3 class="page-title">How it works</h3>
        <p>If you have seen a trick that you like in a video, you can register it here. 
            You just have to pick the time range for the trick (see rules below).
            Then you fill in the trick and rider name and click on the "Add" button. That's it! It will now be validated by other members before being visible to everybody. 
        </p>
        <p>
            In the meantime, you still can edit or remove the trick if you like.
        </p>
        <h3 class="page-title">Rules</h3>

        <h4>One trick at a time</h4>
        <p>
            Each time range should contain only one trick at a time. 
        </p>
        <h4>Time range from the beginning to the end of the trick</h4>
        <p>
            It's important to be accurate on the time range. You must set the start time a few seconds before the beginning of the trick.
            It's better if it's in the same video shot. <br/>
            The end time must be a few seconds after the landing. 
            If there are multiple shots or replay in raw, include them all. 
        </p>
        <h4>Be accurate</h4>
        <p>
            When you fill the rider name and trick name be as accurate as possible. Use existing riders and tricks in priority. 
            If you need to create a new one, do not use abbreviations, use the full name.  
        </p>
    </div>
</div>