
<div class="list-tricks" trick-list></div>

<div class="clearfix  bg-primary">
    <div class="col-md-6 clearfix nopadding">
        <div class="panel-add-video-tag">
            <div ng-show="showCreateRiderForm">
                <h3 class="page-title">
                    Create rider
                </h3>
                <div form-add-rider 
                     profile-picture="false"  
                     save-method="'add'"
                     similar-riders="true"
                     form-group-class="'col-xs-12 col-sm-6 col-md-12'"></div>
            </div>

            <div 
                ng-show="!showCreateRiderForm">
                <p 
                    ng-if="!editionTag.isEditabled()"
                    class="padding-sm margin-top text-center text-bold text-danger">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    This trick cannot be modified  
                    <span ng-if="editionTag.isValidated()">
                        brecause it's already validated. Report an error if there is a problem! 
                    </span>
                    <span ng-if="!editionTag.isValidated() && !editionTag.isOwner()">
                        because you're not the creator.
                    </span>
                </p>

                <form id="FormAddVideoTag"
                      class="form padding-sm" 
                      name="formAddVideoTag" 
                      novalidate 
                      ng-submit="saveVideoTag(editionTag)"
                      server-form>

                    <fieldset >
                        <div class="clearfix">
                            <div class="form-group col-md-12 col-sm-6 clearfix">

                                <label class="control-label col-xs-3">Start time</label>
                                <div class="col-xs-9">
                                    <div class="btn-group">
                                        <button id="ButtonBeginTimeMinus"
                                                type="button" 
                                                class="btn btn-default" 
                                                ng-disabled="!editionTag.isFieldEditabled('begin')"
                                                ng-click="addStartRange(-slider.step)">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                        <span class="btn btn-default disabled" >{{editionTag._extra.range[0]| secondsToHours}}</span> 
                                        <button id="ButtonBeginTimePlus"
                                                ng-disabled="!editionTag.isFieldEditabled('begin')"
                                                type="button" 
                                                class="btn btn-default" 
                                                ng-click="addStartRange(slider.step)">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                    <button type="button" class="btn btn-primary" 
                                            ng-disabled="!editionTag.isFieldEditabled('begin')"
                                            ng-click="setStartRangeNow()">
                                        Now
                                    </button>
                                </div>
                            </div>

                            <div class="form-group col-md-12 col-sm-6 clearfix">
                                <label class="control-label  col-xs-3">End time</label>
                                <div class="col-xs-9">
                                    <div class="btn-group">
                                        <button id="ButtonEndTimeMinus"
                                                type="button" 
                                                class="btn btn-default" 
                                                ng-disabled="!editionTag.isFieldEditabled('end')"
                                                ng-click="addEndRange(-slider.step)">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                        <span class="btn btn-default disabled">{{editionTag._extra.range[1]| secondsToHours}}</span>
                                        <button  id="ButtonEndTimePlus"
                                                 type="button"  
                                                 ng-disabled="!editionTag.isFieldEditabled('end')"
                                                 class="btn btn-default" 
                                                 ng-click="addEndRange(slider.step)">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                    <button  type="button"  
                                             class="btn btn-primary" 
                                             ng-disabled="!editionTag.isFieldEditabled('end')"
                                             ng-click="setEndRangeNow()">
                                        Now  
                                    </button>
                                </div>
                            </div>
                            <!--
                            <div class="col-md-12 col-sm-2">
                                <label class="control-label col-xs-3">Duration</label>
                                <div class="col-xs-9">
                                    <span class="text-info btn btn-info disabled">
                                        {{editionTag.range[1] - editionTag.range[0]| number:1}} seconds
                                    </span>
                                </div>
                            </div>-->
                        </div>
                        <div class="clearfix">
                            <div class="form-group col-md-12 col-sm-6 clearfix">
                                <label class="control-label  col-xs-3">Sport</label>
                                <div class="col-xs-9">
                                    <ui-select 
                                        ng-model="editionTag._extra.category" 
                                        ng-disabled="!editionTag.isFieldEditabled('category')"
                                        theme="bootstrap"
                                        reset-search-input="false"
                                        on-select="editionTag.resetTag()"
                                        on-remove="onRemoveCategory($item, $model)"
                                        required>
                                        <ui-select-match placeholder="Sport and category">{{$select.selected.sport_name}} {{$select.selected.category_name}} </ui-select-match>
                                        <ui-select-choices
                                            repeat="category in suggestedCategories"
                                            refresh="refreshSuggestedCategories($select.search)"
                                            refresh-delay="0">
                                            <div class="clearfix">
                                                <div class="col-xs-6">
                                                    <span class="">{{category.sport_name}}</span>
                                                </div>
                                                <div class="col-xs-6">
                                                    <span class="">{{category.category_name}}</span>
                                                </div>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-sm-6 clearfix">
                                <label class="control-label col-xs-3">Trick</label>
                                <div class="col-xs-9">
                                    <ui-select 
                                        ng-model="editionTag._extra.tag" 
                                        theme="bootstrap"
                                        ng-disabled="!editionTag.hasCategory() || !editionTag.isFieldEditabled('tag')"
                                        reset-search-input="false"
                                        on-remove="onRemoveTrick($item, $model)"
                                        required>
                                        <ui-select-match placeholder="Trick name">
                                            <span class="text-bold">{{$select.selected.name}} </span>
                                            <span class="text-muted" ng-if="$select.selected.sport_name">
                                                ({{$select.selected.sport_name}} - {{$select.selected.category_name}})
                                            </span>
                                        </ui-select-match>
                                        <ui-select-choices
                                            repeat="tag in suggestedTags"
                                            refresh="refreshSuggestedTags($select.search)"
                                            refresh-delay="500">
                                            <div class="clearfix">
                                                <div class="col-xs-10" style="text-transform: capitalize;"  >
                                                    <span class="text-bold">{{tag.name}}</span> <br/>
                                                    <span class="">{{tag.sport_name}}</span> - 
                                                    <span class="">{{tag.category_name}}</span>
                                                </div>
                                                <div class="col-xs-2" style="overflow: hidden;" >
                                                    <span class="text-big" ng-if="!tag.is_new">{{tag.count_ref}}</span>
                                                    <span class="text-big text-warning" ng-if="tag.is_new">New!</span>
                                                </div>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group col-md-12 col-sm-6 clearfix">
                                <label class="control-label col-xs-3">Rider</label>
                                <div  class="col-xs-8">
                                    <ui-select 
                                        ng-model="editionTag._extra.rider" 
                                        theme="bootstrap"
                                        ng-disabled="!editionTag.isFieldEditabled('rider')"
                                        reset-search-input="false"
                                        on-remove="onRemoveRider($item, $model)"
                                        >
                                        <ui-select-match placeholder="Rider..." class="text-capitalize">
                                            <img ng-src="{{$select.selected.picture_round_xs}}" alt=""/>  
                                            <span class="text-bold">{{$select.selected.display_name}} </span> 
                                            <span class="text-muted" ng-if="$select.selected.nationality">({{$select.selected.nationality}})</span> 
                                        </ui-select-match>
                                        <ui-select-choices
                                            repeat="rider in suggestedRiders"
                                            refresh="refreshSuggestedRiders($select.search)"
                                            refresh-delay="500">
                                            <div class="clearfix" style="text-transform: capitalize;">
                                                <img ng-src="{{rider.picture_round_xs}}" alt=""/>  
                                                <span class="text-bold">{{rider.display_name}}</span>  
                                                <span class="">({{rider.nationality}})</span> 
                                                <!--<a class="text-sm" href="http://www.facebook.com/" target="_blank" >(View on facebook)</a>-->
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div  class="col-xs-1">
                                    <button type="button" 
                                            class="btn btn-default"
                                            ng-disabled="!editionTag.isFieldEditabled('rider')"
                                            ng-click="showCreateRiderForm = true">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div ng-if="similarTags.length > 0" class=" form-group">
                            <hr/>
                            <div class="alert alert-danger"> 
                                <p class="text-center">
                                    <span class="glyphicon glyphicon-warning-sign"></span> 
                                    You cannot create this tag, a similar one already exists. 
                                </p>
                            </div>
                            <div ng-repeat="videoTag in similarTags">
                                <div video-tag-item video-tag="videoTag"></div>
                            </div>
                            <hr/>
                        </div>
                        <div class="text-right form-group"
                             ng-if="editionTag.isEditabled()">
                            <button ng-if="!playerData.looping" type="button"  
                                    class="btn btn-primary" ng-click="playEditionTag()">
                                <span class="glyphicon glyphicon-repeat"></span> Loop
                            </button>
                            <button ng-if="playerData.looping" type="button"  
                                    class="btn btn-primary" ng-click="playerData.stopLooping()">
                                <span class="glyphicon glyphicon-stop"></span> Stop loop
                            </button>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <button ng-if="editionTag.allowedToRemove()" 
                                    type="button"
                                    ng-click="deleteTag(editionTag)"
                                    class="btn btn-danger"
                                    name="button_remove">
                                <span class="glyphicon glyphicon-remove-sign"></span> 
                                Remove
                            </button>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <button ng-if="!editionTag.isNew() && editionTag.isDirty()" 
                                    type="button"
                                    ng-click="cancel()"
                                    class="btn btn-warning">
                                <span class="glyphicon glyphicon-remove"></span> 
                                Cancel changes
                            </button>
                            <button type="submit"
                                    ng-disabled="!editionTag.isDirty() || !formAddVideoTag.$valid || similarTags.length > 0"
                                    class="btn btn-success" 
                                    >
                                <span ng-if="!editionTag.isNew()">
                                    <span class="glyphicon glyphicon-save"></span> 
                                    <span ng-if="!editionTag.isDirty()"> Nothing to save</span> 
                                    <span ng-if="editionTag.isDirty()"> Save changes</span> 
                                </span>
                                <span ng-if="editionTag.isNew()">
                                    <span class="glyphicon glyphicon-plus-sign"></span> 
                                    Add
                                </span>
                            </button>
                        </div>
                    </fieldset>
                </form>
                <div  ng-if="!editionTag.isNew()">
                    <hr/>
                    <button class="btn btn-success btn-block btn-add-tag" ng-click="addNewTag()">
                        <span class="glyphicon glyphicon-plus-sign"></span> 
                        Add a new trick
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 nopadding">
        <div class="full-player" player-container></div>
        <div ng-if="video.duration" player-bar video-tags="videoTagData.data" duration="video.duration"></div>
        <div class="form-group">
            <div
                class="margin-top"
                ng-model="editionTag._extra.range"
                ui-slider="{range: true}" 
                min="0" 
                max="{{playerData.data.duration}}" 
                step="{{slider.step}}"
                use-decimals
                >
            </div>
        </div>
    </div>
</div>
<p class="text-center padding-sm ">
    <a ui-sref="edition_rules">Check out edition rules before adding new tricks</a>
</p>