<div
    class="container-fluid"
    ng-show="playerData.showListTricks"
    >
    <div class="row" ng-if="playerData.isMode('edition')">
        <button class="btn btn-success btn-block btn-add-tag" ng-click="addNewTag()">
            <span class="glyphicon glyphicon-plus-sign"></span> 
            Add a trick
        </button>
    </div>

    <div ng-repeat="videoTag in videoTagData.getItems()" ng-if="$index % 2 == 0" class="row clearfix">
        <div class="col-sm-6 nopadding">
            <div video-tag-item 
                 video-tag="videoTag"></div>
        </div>
        <div class="col-sm-6 nopadding" ng-if="videoTagData.getItems().length > $index + 1">
            <div video-tag-item 
                 video-tag="videoTagData.getItems()[$index+1]"></div>
        </div>
        <div style='clear: both;'></div>
    </div>

    <div class="text-center padding-sm" ng-if="videoTagData.getLoader().hasNextPage()">
        <button ng-disabled='videoTagData.getLoader().loading' class="btn btn-primary" ng-click="videoTagData.getLoader().loadNextPage()">
            <span ng-show='videoTagData.getLoader().loading'> Loading data...</span>
            <span ng-show='!videoTagData.getLoader().loading'> Load more</span>
        </button>
    </div>
</div>