<div class="section">
    <div class="container">
        <h2>Frequently Ask Question</h2>
    </div>
</div>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="AddingTricks">
                <h3>Adding new tricks</h3>
                <p>
                    You can add new tricks from any supported video provider in two steps. <br/>
                    First you must add the video <a href="#/Videos/add"> here</a>. 
                </p>
                <p>
                    Then you can add one or more trick to this video. You must precise the start and end time and the name 
                    of the trick. <br/>
                    Be as precise as possible. The better your trick is the better it's going to be vote up by others.
                </p>
            </div>

            <div id="InvalidTricks">
                <h3>What if there is an invalid trick</h3>
                <p>
                    You can use the report error form to do so. You can add a message to explain why it's not 
                    a good trick. It can be for several reasons, among them the name of the trick is not good, the begin or the end time or also 
                    a too poor video quality. 
                </p>
            </div>
        </div>
    </div>
</div>
