<div class="section">
    <div class="container">
        <h2>Edition rules</h2>
    </div>
</div>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            Be sure to check that your trick is valid before submitting it. 
            It must be from the beginning to the end of the trick. Avoid to add extra content. <br/>
            Write the trick name correctly, try to use the suggested tag.<br/>
        </div>
    </div>
</div>
