<div class="container margin-top">

    <div class="panel panel-primary bg-primary">
        <div class="panel-heading">
            <h2 class="panel-title"> <span class="glyphicon glyphicon-cog"></span> Settings </h2>
        </div>
        <div class="panel-body">
            <h2 class="page-title"> {{data.user.username}} </h2>

            <p class="padding-sm text-center">
                Account created {{data.user.created| timeago}}.
            </p>

            <p class="text-center" ng-show="isSociaLogin()">
                Your are logged in with facebook.
            </p>

            <div class="text-center" ng-show="!isSociaLogin()">
                <uib-tabset >
                    <uib-tab heading="Change password">
                        <div form-change-password class="padding-sm"></div>
                    </uib-tab>
                    <uib-tab heading="Delete account">

                        <form class="form padding-sm" 
                              name="formDeleteAccount" 
                              id="DeleteAccountForm"
                              server-form
                              ng-controller="DeleteAccountController"
                              ng-submit="removeAccount(password)">
                            <fieldset>
                                <div class="alert alert-danger">
                                    <span class="glyphicon glyphicon-warning-sign"></span> 
                                    Be carefull, this action cannot be undone! 
                                </div>
                                <div class="form-group col-sm-8">
                                    <input class="form-control" 
                                           ng-model="password" 
                                           type="password" 
                                           placeholder="Your password"/>
                                </div>
                                <div class="form-group  col-sm-4">
                                    <button class="btn btn-danger" 
                                            ng-disabled="false"
                                            type="submit">
                                        <span class="glyphicon glyphicon-remove-circle"></span> 
                                        Delete my account 
                                    </button>
                                </div>
                            </fieldset>
                        </form>

                    </uib-tab>
                </uib-tabset>

            </div>
        </div>
    </div>
</div>

