<div class="container margin-top">
    <div class="row">
        <div class="center-form panel"  style="max-width: 500px;margin: auto;">
            <div class="panel-body">
                <h2 class="text-center">Sign up</h2>
                <form id="FormSignup" 
                      method="post" 
                      ng-submit="signup(user)" 
                      name="signupForm" 
                      server-form>
                    <fieldset ng-disabled="isFormLoading"> 
                        <div class="form-group has-feedback" 
                             ng-class="{ 'has-error' : signupForm.username.$invalid && signupForm.username.$dirty }">
                            <input class="form-control input-lg" 
                                   ng-minlength="3"
                                   ng-maxlength="40"
                                   type="text" 
                                   name="username" 
                                   ng-model="user.username" 
                                   placeholder="Name" 
                                   required 
                                   autofocus
                                   servererror
                                   ft-unique="{controller:'Users', action: 'username_exists'}">
                            <span class="ion-person form-control-feedback"></span>
                            <div class="help-block text-danger" 
                                 ng-if="signupForm.username.$dirty" 
                                 ng-messages="signupForm.username.$error">
                                <div ng-message="unique">This username is not available.</div>
                                <div ng-message="required">You must enter your name.</div>
                                <div ng-message="minlength">You must at least 3 caracters.</div>
                                <div ng-message="maxlength">You cannot enter more than 40 caracters.</div>
                                <div ng-message="server">{{signupForm.username.$error.server}}</div>
                            </div>
                        </div>
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
                            <input class="form-control input-lg" 
                                   type="email" id="email" name="email" ng-model="user.email" placeholder="Email" 
                                   servererror
                                   required>

                            <span class="ion-at form-control-feedback"></span>
                            <div class="help-block text-danger" 
                                 ng-if="signupForm.email.$dirty" 
                                 ng-messages="signupForm.email.$error">

                                <div ng-message="required">Your email address is required.</div>
                                <div ng-message="pattern">Your email address is invalid.</div>
                                <div ng-message="server">{{signupForm.email.$error.server}}</div>
                            </div>
                        </div>
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
                            <input password-strength class="form-control input-lg" 
                                   type="password" name="password" ng-model="user.password" placeholder="Password" 
                                   required
                                   ng-minlength="8"
                                   ng-maxlength="100">
                            <span class="ion-key form-control-feedback"></span>
                            <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
                                <div ng-message="required">Password is required.</div>
                                <div ng-message="minlength">Password must contains 8 caracters at least.</div>
                                <div ng-message="minlength">Password must less than 100 caracters.</div>
                            </div>
                        </div>
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
                            <input password-match="user.password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password">
                            <span class="ion-key form-control-feedback"></span>
                            <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
                                <div ng-message="compareTo"> Password must match.</div>
                            </div>
                        </div>

                        <div class="g-recaptcha" data-sitekey="6Ld3tRkTAAAAADOTCBr8MEMcCO3zZAKQuOslN9_v"></div>

                        <p class="text-center text-muted"><small> By clicking on Sign up, you agree to <a ui-sref="gtu">terms & conditions</a> 
                                and <a ui-sref="privacy_policy">privacy policy</a></small></p>


                        <button type="submit" 
                                ng-disabled="signupForm.$invalid" 
                                class="btn btn-lg btn-block btn-primary">
                            Sign up 
                            <div ng-loading-icon is-loading="isFormLoading"></div>
                        </button>
                        <br/>
                        <p class="text-center text-muted">Already have an account? <a ui-sref="login">Log in now</a></p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
