CakePHP 3

/vendor/*
/config/app.php
/tmp/*
/logs/*
/webroot/js/node_modules/*
/webroot/js/bower_components/*
/webroot/js/components/*
/webroot/files/*
/tests/Fixture/files/tmp
/webroot/coverage
/webroot/js/src/*.min.js
/webroot/js/src/**/*.min.js
/webroot/js/src/**/**/*.min.js
/node_modules/*
/webroot/views
/webroot/js/*.js
/webroot/css/style.min.css
/webroot/snapshots
/webroot/sitemap.xml

CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*

Netbeans
/nbproject/private/private.xml
/resources/webserver-fstricks-linux.pem
/nbproject/private/config.properties
