
<div class="modal-header">
    <h2 class="modal-title">Report An Error</h2>
</div>
<div class="modal-body">
    <p class="padding-sm bg-info">
        <span class="glyphicon glyphicon-info-sign"></span> This form allow you to report an invalid trick on a video. 
        You can leave a comment to explains the problem (usefull if it's not obvious). <br/>

        <span class="text-muted">
            Any abuse of service will be punished by removing your account without any type of notice. 
        </span>
    </p>
    <form class="" name="formReportError" novalidate>
        <!--
        <div class="form-group">
            <label class="col-sm-3 control-label">Error type</label>
            <div class="col-sm-9">
                <select ng-model="errorReport.error_type_id" 
                        class="form-control"
                        ng-options="errorType.id as errorType.name for errorType in errorTypes"
                        required
                        >
                </select>
            </div>
        </div>
        -->
        <div class="form-group col-xs-12">
            <label class="control-label">Leave a comment</label>
            <div class="">
                <textarea
                    ng-model="errorReport.comment"
                    class="form-control"
                    optional>
                </textarea>
            </div>
        </div>

        <!--
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> I accept the term and conditions
                    </label>
                </div>
            </div>
        </div>
        -->
        <div ng-include="'html/Elements/feedback.html'"></div>

        <div class="form-group clearfix text-center">
            <input type="submit" class="btn btn-primary" value="Send" ng-click="sendReport(errorReport)"/>
        </div>
    </form>
</div>
