<form server-form
      id="FormAddPlaylist"
      name="addPlaylistForm" 
      method="post"  
      ng-submit="save(playlist)" 
      novalidate>
    <fieldset>
        <div class="clearfix">
            <div class="form-group clearfix has-feedback" 
                 ng-class="{'has-error': addPlaylistForm.title.$invalid}">
                <label class="col-xs-3">Title</label>
                <div class="col-xs-9">
                    <input type="text" 
                           class="form-control" 
                           placeholder="Title"
                           name="title"
                           ng-model="playlist.title"
                           required
                           servererror
                           ng-minlength="2"
                           ng-maxlength="20"/>
                    <span class="ion-person form-control-feedback"></span>
                    <div class="help-block text-danger" 
                         ng-if="addPlaylistForm.title.$dirty" 
                         ng-messages="addPlaylistForm.title.$error">
                        <div ng-message="required">You must enter your name.</div>
                        <div ng-message="minlength">You must enter at least 2 caracters.</div>
                        <div ng-message="maxlength">You cannot enter more than 20 caracters.</div>
                        <div ng-message="server">{{addPlaylistForm.title.$error.server}}</div>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix has-feedback" 
                 ng-class="{'has-error': addPlaylistForm.description.$invalid}">
                <label class="col-xs-3">Description</label>
                <div class="col-xs-9">
                    <input type="text" 
                           class="form-control" 
                           placeholder="description"
                           name="description"
                           ng-model="playlist.description"
                           required
                           servererror
                           ng-minlength="2"
                           ng-maxlength="20"/>
                    <span class="ion-person form-control-feedback"></span>
                    <div class="help-block text-danger" 
                         ng-if="addPlaylistForm.description.$dirty" 
                         ng-messages="addPlaylistForm.description.$error">
                        <div ng-message="required">You must enter your last name.</div>
                        <div ng-message="minlength">You must enter at least 2 caracters.</div>
                        <div ng-message="maxlength">You cannot enter more than 20 caracters.</div>
                        <div ng-message="server">{{addPlaylistForm.description.$error.server}}</div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="form-group clearfix has-feedback" 
                     ng-class="{'has-error': addPlaylistForm.status.$invalid}">
                    <label class="col-xs-3">Visibility</label>
                    <div class="col-xs-9">
                        <select
                            ng-model="playlist.status"
                            name="status"
                            class="form-control"
                            servererror>
                            <option ng-repeat="status in nationalities" name="playlistNationality{{status.code}}" 
                                    value="{{status.code}}">
                                {{status.name}}
                            </option>
                        </select>
                        <span class="ion-person form-control-feedback"></span>
                        <div class="help-block text-danger" 
                             ng-messages="addPlaylistForm.status.$error">
                            <div ng-message="server">{{addPlaylistForm.status.$error.server}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center form-group">
                <button type="button" 
                        class="btn btn-danger"
                        ng-click="cancel()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </button>
                <button type="submit" 
                        ng-disabled="addPlaylistForm.$invalid"
                        class="btn btn-success">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Save
                </button>
            </div>
    </fieldset>
</form>