
<div class="container margin-top">

    <div class="bg-primary section">
        <h3 class="page-title">
            <span class="glyphicon glyphicon-list"></span> 
            My tricks
        </h3>
        <!--
        <table class="table table-striped text-bold" style="max-width: 500px; margin: auto;">
            <tr>
                <td class="text-success">
                    Official trick created
                </td>
                <td>
                    {{currentUser.count_tags_validated}}
                </td>
            </tr>
            <tr>
                <td class="text-danger">
                    Tricks rejected
                </td>
                <td>
                    {{currentUser.count_tags_rejected}}
                </td>
            </tr>
            <tr>
                <td>
                    Performance
                </td>
                <td>
                    {{performance}}
                </td>
            </tr>
        </table>-->

        <uib-tabset class="margin-top">
            <uib-tab 
                ng-repeat="workspace in workspaces"
                heading="{{workspace.name}}"
                active=workspace.active
                ng-click="onWorkspace(workspace)">

                <div page-loader is-loading="workspace.loader.loading"></div>

                <div class="text-center text-bold padding-sm">
                    <p ng-if="!workspace.loader.hasData() && workspace.loader.loading">
                        Loading ...
                    </p>
                    <p ng-if="!workspace.loader.hasData() && !workspace.loader.loading">
                        Nothing yet
                    </p>
                </div>
                <ul class="list-unstyled">
                    <li pagination-id="workspace.id"
                        dir-paginate="videoTag in workspace.loader.data.items | itemsPerPage: workspace.loader.data.perPage"
                        total-items="workspace.loader.data.total">
                    <video-tag-item video-tag="videoTag"></video-tag-item>
                    </li>
                </ul>
                <div pagination-id="workspace.id"
                     dir-pagination-controls
                     on-page-change="workspace.loader.loadPage(newPageNumber)"
                     class="pagination-container">
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>