<table class="table-current-trick" >
    <tbody>
        <tr>
            <td class="current-tag" 
                ng-if="videoTagData.currentTag">
                <div video-tag-item video-tag="videoTagData.currentTag"></div>
            </td>
            <td
                ng-if="videoTagData.currentTag"
                class="toggle-player-mode" 
                ng-click="togglePlayerMode()"
                ng-class="{disabled:!playerData.looping}">

                <span class="glyphicon glyphicon-repeat text-big" title="Repeat tricks"></span>
                <!--<span ng-if="playerData.looping" class="glyphicon glyphicon-play" title="Play normally"></span>-->
            </td>
            <td class="toggle-list-tricks"  ng-click="toggleListTricks()" style="width: 40px">
                <a href="" class="text-big"><span class="glyphicon glyphicon-list"></span></a>
            </td>
        </tr>
    </tbody>
</table>