

<div class="container margin-top bg-primary ">

    <div class="section">
        <h3 class="page-title">
            <span class="glyphicon glyphicon-list"></span> 
            My playlists
        </h3>
        <div ng-repeat="playlist in playlists" class="row" >
            <div class="pull-right text-bold text-big">
                <a class="text-info" href="#" ng-click="edit(playlist)">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a class="text-danger" href="#" ng-click="remove(playlist)">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
            <div playlist-item playlist="playlist" short-mode="true" remove-btn="true"></div>
        </div>
    </div>
    
</div>