<div resize >
    <div ng-show="SharedData.loadingState" class="pick-video-message">
        <p>
            Loading...
        <p/>
    </div>
    <div ng-show="!SharedData.loadingState">

        <div ng-show="playerData.hasError()" 
             class="pick-video-message">
            <p>
                Oups, we cannot load the player...
            <p/>
            <p>
                Try again later...
            </p>
        </div>
        <div ng-show="!playerData.hasError()
                        && (videoTagData.currentTag === null && !videoTagData.getLoader().hasData())" 
             class="pick-video-message">
            <p ng-if="playerData.isMode('view')">
                Oups, there is no tricks registered yet... 
            <p/>
            <p ng-if="playerData.isMode('validation')">
                Thanks for your help but there is nothing to validate for now...
            <p/>
            <p>
                <a ui-sref="addvideo"> Add tricks now</a>
            </p>
        </div>
        <div ng-show="playerData.hasVideo()">
            <div class="nopadding player-container" >
                <div 
                    ng-show="videoTagData.hasPrev()"
                    class="player-prev-trick" 
                    ng-click="prevTrick()">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </div>
                <div class="iframe-wrapper">   
                    <youtube
                        ng-show="playerData.isProvider('youtube')"
                        player-data="playerData" 
                        id="youtubeplayer"
                        frameborder="0">
                    </youtube> 
                    <vimeo-video  
                        ng-show="playerData.isProvider('vimeo')"
                        player-data="playerData"
                        player-id="vimeoplayer">
                    </vimeo-video>
                </div>
                <div 
                    ng-show="videoTagData.hasNext()"
                    class="player-next-trick"  
                    ng-click="nextTrick()">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </div>
            </div>
        </div>
    </div>
</div>
