

<div class="container margin-top bg-primary ">

    <div class="section">
        <h3 class="page-title">
            <span class="glyphicon glyphicon-list"></span> 
            My playlists
        </h3>

        <div 
            dir-paginate="playlist in loader.data.items | itemsPerPage: loader.data.perPage"
            total-items="loader.data.total"
            removable-item 
            removable-item-id="playlist.id" 
            removable-item-options="removeOptions"
            class="clearfix">
            <div class="item-top-btns">
                <a class="text-info" ui-sref="editplaylist({playlistId: playlist.id})">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a class="text-danger btn-remove-item" href="#">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
            <div playlist-item playlist="playlist" short-mode="true" points="false"></div>
        </div>

        <div dir-pagination-controls
             on-page-change="loader.loadPage(newPageNumber)"
            class="pagination-container">
        </div>
        <div ng-if="loader.data.items.length === 0">
            <p class="text-center text-bold" >
                You don't have any playlist yet!
            </p>
            <p>
                To create one browse the website and once you've found a trick you like, click on the bottom right button 
                <button class="btn btn-default btn-sm inline disabeld"><b class="caret"/></button>
                and then "<strong>Add to playlist</strong>".
            </p>
        </div>
    </div>
</div>