
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close"  aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Playlists</h4>
    </div>
    <div class="modal-body clearfix" ng-show="loader.data.items.length > 0 || showAddPlaylistForm">

        <div ng-show="!showAddPlaylistForm" class="clearfix">
            <div 
                dir-paginate="playlist in loader.data.items | itemsPerPage: loader.data.perPage"
                total-items="loader.data.total"
                class="col-sm-6" >
                    <div playlist-item playlist="playlist" shortmode="true"></div>
                    <div ng-if="$index > 1 && $index % 2 == 0" class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div dir-pagination-controls
                 on-page-change="loader.loadPage(newPageNumber)"
                 class="pagination-container">
            </div>
        </div>

        <div playlist-form ng-show="showAddPlaylistForm"></div>
    </div>
    <div class="modal-footer">
        <a ui-sref="manageplaylist" ng-click="cancel()">Manage playlists</a> &nbsp;&nbsp;
        <button class="btn btn-primary" ng-if="!showAddPlaylistForm" ng-click="toggleForm()">
            <span class="glyphicon glyphicon-plus-sign"></span> 
            New playlist
        </button>
        <button class="btn btn-primary" ng-if="showAddPlaylistForm" ng-click="toggleForm()">
            <span class="glyphicon glyphicon-arrow-left"></span> 
            Back
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove"></span>  
            Close
        </button>
    </div>
</div><!-- /.modal-content -->


