<div ng-show="!SharedData.loadingState && !videoTagData.loading">
    <div ng-show="playerData.currentTag == null && videoTagData.data.length === 0" 
         class="pick-video-message">
        <p>
            Oups, there is no tricks registered yet... 
        <p/>
        <p class="text-center">
            <a ui-sref="addvideo"> Add tricks now</a>
        </p>
    </div>
    <div ng-show="playerData.currentTag != null || videoTagData.data.length > 0">
        <div class="nopadding player-container"  ng-show="playerData.data.video_url"  >
            <div class="iframe-wrapper res-16by9">   
                <youtube
                    player-data="playerData" frameborder="0"></youtube> 
            </div>
        </div>
        <div ng-show="!playerData.data.video_url">
            <p class="pick-video-message" >
                Pick a trick to play<br/>
                <span class="text-muted"><a ui-sref="addvideo"> or create new ones</a></span>
            </p>
        </div>
    </div>
</div>
