<div class="table-current-trick" ng-if="videoTagData.currentTag">
    <div class="current-tag" >
        <div class="current-tag-wrapper">
            <div video-tag-item video-tag="videoTagData.currentTag">
            </div>
        </div>
    </div>
    <div
        ng-if="videoTagData.currentTag && !playerData.isMode('validation')"
        class="toggle-player-mode btn-player-nav" 
        ng-click="togglePlayerMode()"
        ng-class="{disabled:!playerData.looping}">

        <span class="glyphicon glyphicon-repeat text-big" title="Repeat tricks"></span>
        <!--<span ng-if="playerData.looping" class="glyphicon glyphicon-play" title="Play normally"></span>-->
    </div>
    <div class="toggle-list-tricks  btn-player-nav"  
         ng-if="!playerData.isMode('validation')"
         ng-click="toggleListTricks()" >
        <a href="" class="text-big"><span class="glyphicon glyphicon-list"></span></a>
    </div>
</div>