<view-title>Home</view-title>
<div class="about-fstricks section bg-primary">
    <div class="container">
        <h1 class="website-name">
            Freestyle Tricks
        </h1>
        <p class="moto">
            Be inspired by the best !
        </p>
        <ul class="nav nav-pills nav-justified text-capitalize">
            <li ng-repeat="sport in sports">
                <a ui-sref="videoplayer.sport({sportSlug: sport.slug})" 
                   ng-click="setCurrentSport(sport)">
                    <img ng-src="{{sport.slug| sportIconUrl}}"> &nbsp;
                    {{sport.name}}
                </a>
            </li>
        </ul>
    </div>
</div>

<!--
<div class="margin-top">
    <div class="section bg-primary">
        <div class="container padding-sm">
            <p>
                Hey we are looking for beta tester!
            </p>
        </div>
    </div>
</div>
-->

<div class="margin-top">
    <div class="col-sm-6">
        <div class="padding-sm border-radius margin-left bg-primary">
            <h3 class="page-title">Trending playlists</h3>

            <div ng-repeat="playlist in playlists"   playlist-item playlist="playlist" ></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="padding-sm border-radius margin-left bg-primary">
            <h3 class="page-title">Trending performances</h3>
            <div ng-repeat="videoTag in videoTags" video-tag-item video-tag="videoTag"></div>

            <p class="padding-sm text-center">
                <a ui-sref="videoplayer.sport" ng-click="SharedData.setCurrentSport(null)">view more</a>
            </p>
        </div>
    </div>
</div>