<view-title>Home</view-title>
<div class="about-fstricks section bg-primary clearfix">
    <h1 class="website-name">
        Freestyle Tricks
    </h1>
    <p class="moto">
        Be inspired by the best !
    </p>
</div>
<div class="section clearfix">
    <div class="home-card-list">
        <div ng-repeat="sport in sports" class="col-xs-6 col-sm-4 col-md-3">
            <div class="home-card-item" 
                 ui-sref="videoplayer.sport({sportSlug: sport.slug})">
                <div class="home-card-image">
                    <img ng-src="{{sport.slug| sportImageUrl}}"/>
                    <h2 class="home-card-title text-capitalize">
                        <a ui-sref="videoplayer.sport({sportSlug: sport.slug})"> {{sport.name}} </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="margin-top">
    <div class="section bg-primary">
        <div class="container padding-sm">
            <p>
                Hey we are looking for beta tester!
            </p>
        </div>
    </div>
</div>
-->
<!--
<div class="margin-top">
    <div class="col-sm-6">
        <div class="padding-sm margin-left bg-primary">
            <h3 class="page-title">Trending playlists</h3>

            <div ng-repeat="playlist in playlists"   playlist-item playlist="playlist" ></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="padding-sm margin-left bg-primary">
            <h3 class="page-title">Trending performances</h3>
            <div ng-repeat="videoTag in videoTags" video-tag-item mode="card" video-tag="videoTag"></div>

            <p class="padding-sm text-center">
                <a ui-sref="videoplayer.sport" ng-click="SharedData.setCurrentSport(null)">view more</a>
            </p>
        </div>
    </div>
</div>-->