<div class="container">
    <div class="bg-light padding-sm">
        <div class="clearfix" ng-controller="RiderProfileController">
            <div  ng-show="!editionMode">
                <div class="view-rider clearfix">
                    <div class="thumbnail col-sm-4" ng-show="!$flow.files.length">
                        <img ng-src="{{rider.picture_original}}">
                    </div>
                    <div class="col-sm-8">
                        <div ng-if="hasRiderProfile()">
                            <h2 class="text-capitalize">{{rider.firstname}} {{rider.lastname}}</h2>
                            <p class="bg-info padding-sm">
                                This rider has been tagged <span class="text-big">{{rider.count_tags}} time(s)</span>.
                                He has <span class="text-big">{{rider.count_points}} points(s)</span>.
                            </p>
                            <button class="btn btn-primary" ng-click="viewVideos()">
                                View videos
                            </button>
                        </div>
                        <div ng-if="!hasRiderProfile()" class="text-center">
                            <h3> Create your rider profile now </h3>
                            <p class="text-muted">
                                Creating a rider profile allow you to be recognised and tag in video. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-center" ng-if="isEditabled()">
                    <button type="submit" class="btn btn-default" ng-click="startEditionMode()">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span ng-if="hasRiderProfile()">Edit</span> 
                        <span ng-if="!hasRiderProfile()">Create</span> 
                    </button>
                </div>
            </div>
            <form class="" 
                  ng-show="editionMode" 
                  name="riderProfileForm"
                  ng-submit="save(riderEdit)">
                <fieldset ng-disabled="isFormLoading">
                    <div class="col-sm-4">
                        <div flow-name="uploader.flow"
                             flow-init="{target:'riders/save.json',singleFile:true,testChunks:false,fileParameterName:'picture', chunkSize:1024*1024*5}" 
                             flow-files-submitted="uploadPicture($flow)"
                             flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" 
                             class="ng-scope">
                            <div class="thumbnail" ng-show="!$flow.files.length">
                                <img ng-src="{{rider.picture_original}}">
                            </div>
                            <div class="thumbnail ng-hide" ng-show="$flow.files.length">
                                <img flow-img="$flow.files[0]">
                            </div>
                            <div class="text-center">
                                <p>
                                    <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn="">Select image
                                        <input type="file" style="visibility: hidden; position: absolute;"></span>
                                    <span class="btn btn-info ng-hide" ng-show="$flow.files.length" flow-btn="">Change
                                        <input type="file" style="visibility: hidden; position: absolute;"></span>
                                    <span class="btn btn-danger ng-hide" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                                        Remove
                                    </span>

                                </p>
                                <p class="text-muted">
                                    Only PNG,GIF,JPG,JEPG files allowed.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div ng-include="'html/Riders/add.html'"></div>
                    </div>
                </fieldset>
                <div class="form-group text-center">
                    <button type="button" class="btn btn-default" ng-click="cancelEditionMode()">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                    <button type="submit" class="btn btn-primary" 
                            ng-disabled="riderProfileForm.$invalid">
                        <span class="glyphicon glyphicon-save"></span> Save
                        <div ng-loading-icon is-loading="isFormLoading"></div> 
                    </button>
                </div>

            </form>
        </div>
        
        <!--
        <div>
            <h3>Last a</h3>
        </div>
        -->
    </div>
    
</div>