<div class="container">
    <div class="bg-light padding-sm">
        <div class="clearfix">
            <div  ng-show="!editionMode">
                <div class="view-rider clearfix">
                    <div class="thumbnail col-sm-4" ng-show="!$flow.files.length">
                        <img ng-if="rider.picture_original" ng-src="{{rider.picture_original}}">
                        <img ng-if="!rider.picture_original" src="img/icon_avatar.png">
                    </div>
                    <div class="col-sm-8">
                        <div ng-if="hasRiderProfile()">
                            <h2 class="text-capitalize">{{rider.firstname}} {{rider.lastname}}</h2>
                            <p class="bg-info padding-sm">
                                This rider has been tagged <span class="text-big">{{rider.count_tags}} time(s)</span>.
                                He has <span class="text-big">{{rider.count_points}} points(s)</span>.
                            </p>
                            <button class="btn btn-primary" ng-click="viewVideos()">
                                View videos
                            </button>
                        </div>
                        <div ng-if="!hasRiderProfile()" class="text-center">
                            <h3> Create your rider profile now </h3>
                            <p class="text-muted">
                                Creating a rider profile allow you to be recognised and tag in video. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-center" ng-if="isEditabled()">
                    <button type="submit" class="btn btn-primary" ng-click="startEditionMode()">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span ng-if="hasRiderProfile()">Edit</span> 
                        <span ng-if="!hasRiderProfile()">Create</span> 
                    </button>
                </div>
            </div>

            <div ng-if="rider.id" ng-show="editionMode">
                <h3> <span class="glyphicon glyphicon-edit"></span> Editing rider profile</h3>
                <div form-add-rider 
                     profile-picture="true" 
                     save-method="'save'"
                     rider="rider"
                     similar-riders="false"></div>
            </div>

        </div>
    </div>

</div>