
<ui-select multiple 
           ng-controller="SearchTagController"
           ng-model="selected" 
           tagging-tokens="SPACE|ENTER"
           tagging="tagTransform"
           class="form-control"
           on-select="onSelectTag($item,$model)"
           on-remove="onRemoveTag($item, $model)"
           theme="bootstrap" 
           title="Choose some tags">
    <ui-select-match placeholder="Choose some tags...">{{$item.name}}</ui-select-match>
    <ui-select-choices 
        refresh="refreshSuggestedTags($select.search)"
        refresh-delay="600"
        repeat="tag in suggested | propsFilter: {name: $select.search}">
        <!--    
        <div ng-if="tag.isTag" class="clearfix">
            <div class="col-xs-10">
                    <span class="label label-default">{{tag.name}}</span>
                    <small> (New!)</small>
                </div>
                <div class="col-xs-2">
                    <span>{{tag.count_ref}}</span>
                </div>
            </div>
        -->
        <div class="clearfix">
            <div class="col-xs-10">
                <span class="label label-default">{{tag.name}}</span>
            </div>
            <div class="col-xs-2">
                <span>{{tag.count_ref}}</span>
            </div>
        </div>
    </ui-select-choices>
</ui-select>