<div class="clearfix bg-secondary padding-sm-side">
    <div class="navbar-header" id="BrandContainer">
        <div class="header-title pull-left hidden-sm hidden-xs">
            <a href="" ui-sref="home()" id="HomeLink">
                <span class="hidden-sm hidden-xs">{{config.name}}</span>
                <span class="hidden-lg hidden-md">{{config.short_name}}</span>
            </a> 
        </div>
    </div>
    <ul id="TopNav" class="nav navbar-nav navbar-no-collapse ">
        <li class="dropdown text-capitalize" id="SportsNav">
            <a data-toggle="dropdown" ng-if="SharedData.currentSport"  class="text-big" id="ToggleSportLink">
                <b class="caret"></b>
                {{SharedData.currentSport.name}}
            </a>
            <a data-toggle="dropdown" ng-if="!SharedData.currentSport"  class="text-big" id="ToggleSportLink">
                <b class="caret"></b> 
                All sports
            </a>
            <ul class="dropdown-menu" id="DropDownMenuSports">
                <li><a ui-sref="videoplayer.sport({sportSlug: 'all', category: null, q: null})" 
                       ng-click="SharedData.setCurrentSport(null)">All sports</a></li>
                <li ng-repeat="sport in sports">
                    <a ui-sref="videoplayer.sport({sportSlug: sport.slug, category: null, q: null})" 
                       ng-click="SharedData.setCurrentSport(sport)">
                        <img ng-src="{{sport.slug | sportIconUrl}}"> &nbsp;
                        {{sport.name}}
                    </a>    
                </li>
            </ul>
        </li>
        <!--<li><a href=""><span class="glyphicon glyphicon-map-marker"></span> Best of</a></li>-->
        <li ng-if="authData.isAuthed()">
            <a ui-sref="addvideo"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </li>
        <li ng-if="!authData.isAuthed()">
            <a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        <li ng-if="!authData.isAuthed()">
            <a ui-sref="signup">Sign up</a>
        </li>
        <li ng-if="authData.isAuthed()" class="dropdown" id="UserNav">
            <a class="" data-toggle="dropdown" >
                {{authData.user.username}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li> <a ui-sref="manageplaylist"><span class="glyphicon glyphicon-list"></span> My playlists</a></li>
                <li> <a ui-sref="dashboard"><span class="glyphicon glyphicon-dashboard"></span> My tricks</a></li>
                <li> <a ui-sref="startvalidation()"><span class="glyphicon glyphicon-check"></span> Validate tricks</a> </li>
                <!--<li> <a ui-sref="myriderprofile.view"><span class="glyphicon glyphicon-user"></span> Profile</a></li>-->
                <li> <a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                <li ng-click="logout()">
                    <a ui-sref="login">
                        <span class="glyphicon glyphicon-log-out"></span> Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="bg-secondary padding-sm-side" top-search current-search="SharedData.currentSearch">
</div>