<div class="clearfix bg-secondary padding-sm-side">
    <ul id="TopNav" class="nav navbar-nav navbar-no-collapse ">
        <li class="padding-sm-side">
            <div class="navbar-header" id="BrandContainer">
                <div class="header-title pull-left">
                    <a href="" ui-sref="home()" id="HomeLink">
                        <img ng-src="{{'logo.png'| imageUrl}}" alt=""/>
                        <span class="hidden">{{config.name}}</span>
                    </a> 
                </div>
            </div>
        </li>
        <!--
        <li>
            <a ng-click="onSearchButtonClick()" class="text-bold">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </li>-->
        <li class="dropdown text-capitalize" id="SportsNav">
            <a data-toggle="dropdown" class="text-big" id="ToggleSportLink">
                <b class="caret"></b>
                <span  ng-if="SharedData.currentSport">{{SharedData.currentSport.name}}</span>
                <span  ng-if="!SharedData.currentSport">All sports</span>
            </a>
            <ul class="dropdown-menu" id="DropDownMenuSports">
                <li><a ui-sref="videoplayer.sport({sportSlug: 'all', category: null, q: null})" 
                       ng-click="SharedData.setCurrentSport(null)">All sports</a></li>
                <li ng-repeat="sport in sports">
                    <a ui-sref="videoplayer.sport({sportSlug: sport.slug, category: null, q: null})" 
                       ng-click="SharedData.setCurrentSport(sport)">
                        <img ng-src="{{sport.slug | sportIconUrl}}"> &nbsp;
                        {{sport.name}}
                    </a>    
                </li>
            </ul>
        </li>
        <!--<li><a h
        <li>
            <a ng-click="onSearchButtonClick()" class="text-bold">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </li>ref=""><span class="glyphicon glyphicon-map-marker"></span> Best of</a></li>-->
        <li>
            <a ui-sref="addvideo"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </li>
        <li ng-if="!authData.isAuthed()">
            <a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        <li ng-if="!authData.isAuthed()">
            <a ui-sref="signup">Sign up</a>
        </li>
        <li ng-if="authData.isAuthed()" class="dropdown" id="UserNav">
            <a class="" data-toggle="dropdown" >
                {{authData.user.username}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li> <a ui-sref="manageplaylist"><span class="glyphicon glyphicon-list"></span> My playlists</a></li>
                <li> <a ui-sref="mytricks"><span class="glyphicon glyphicon-dashboard"></span> My tricks</a></li>
                <li> <a ui-sref="startvalidation()"><span class="glyphicon glyphicon-check"></span> Validate tricks</a> </li>
                <!--<li> <a ui-sref="myriderprofile.view"><span class="glyphicon glyphicon-user"></span> Profile</a></li>-->
                <li> <a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                <li ng-click="logout()">
                    <a ui-sref="login">
                        <span class="glyphicon glyphicon-log-out"></span> Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="padding-sm-side">
    <div tricks-search current-search="SharedData.currentSearch"> </div>
</div>