<div>
    <div class="clearfix section bg-colored container-fluid">
        <h2> {{data.user.username}} </h2>
        <p class="text-color-light">
            <span class="number text-big">{{data.user.count_tags}}</span> tag(s)
        </p>
    </div>
    <div class="clearfix padding-sm">
        <ul class="nav nav-pills">
            <li ng-repeat="tag in tags| filter:{edition_status: '!remove'}" class="">
                <a class="user-profile-tag">
                    #{{tag.name}} 
                    <span  ng-if="editionMode" class="glyphicon glyphicon-remove" ng-click="removeTag(tag)"></span>
                </a> 
            </li>
        </ul>
        <form class="form-inline" ng-if="editionMode">
            <div class="row">
                <div class="form-group col-md-4 col-md-offset-4" >
                    <div class="input-group">
                        <input type="text" 
                               ng-model="new_tag" 
                               class="form-control" 
                               placeholder="Add a tag"
                               />
                        <div class="input-group-btn ">
                            <button type="submit" class="btn btn-primary" ng-click="addTag(new_tag)">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <p ng-if="isSaved()" class="text-center text-muted">
                {{message}}
            </p>
            <p ng-if="!isSaved()" class="text-center text-muted">
                {{message}}
            </p>
        </form>
        <div class="text-center" ng-if="isCurrentUserProfile">
            <button type="button" class="btn btn-default btn-sm" 
                    ng-click="startEditionMode()"
                    ng-if="!editionMode">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </button>
            <button type="button" class="btn btn-default btn-sm" 
                    ng-click="cancelEditionMode()"
                    ng-if="editionMode" >
                <span class="glyphicon glyphicon-remove-circle"></span> Cancel
            </button>
            <button type="button" class="btn btn-primary btn-sm" 
                    ng-click="save()"
                    ng-if="editionMode" >
                <span class="glyphicon glyphicon-save"></span> Save
            </button>
        </div>
    </div>


</div>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Profile</div>
        <div class="panel-body">
            <legend><i class="ion-clipboard"></i> Edit My Profile</legend>
            <form method="post" ng-submit="updateProfile()">
                <div class="form-group">
                    <label class="control-label">Profile Picture</label>
                    <img class="profile-picture" ng-src="{{user.picture|| 'http://placehold.it/100x100'}}">
                </div>
                <div class="form-group">
                    <label class="control-label"><i class="ion-person"></i> Display Name</label>
                    <input type="text" class="form-control" ng-model="user.displayName" />
                </div>
                <div class="form-group">
                    <label class="control-label"><i class="ion-at"></i> Email Address</label>
                    <input type="email" class="form-control" ng-model="user.email" />
                </div>
                <button class="btn btn-lg btn-success">Update Information</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Accounts</div>
        <div class="panel-body">
            <legend><i class="ion-link"></i> Linked Accounts</legend>
            <div class="btn-group-vertical">
                <button class="btn btn-sm btn-danger" ng-if="user.facebook" ng-click="unlink('facebook')">
                    <i class="ion-social-facebook"></i> Unlink Facebook Account
                </button>
                <button class="btn btn-sm btn-primary" ng-if="!user.facebook" ng-click="link('facebook')">
                    <i class="ion-social-facebook"></i> Link Facebook Account
                </button>
            </div>
        </div>
    </div>
</div>