<form class="navbar-form" role="search">
    <div  class="input-group">
        <ui-select 
            id="SearchBar"
            ng-model="data.search"
            theme="bootstrap"
            on-select="onSelect($item, $model)"
            reset-search-input="false">
            <ui-select-match placeholder="Search tricks or riders">
                <span class="text-bold text-capitalize" >{{$select.selected.title}} </span> 
                <span> - {{$select.selected.sub_title}} </span>
            </ui-select-match>
            <ui-select-choices
                repeat="data in results"
                refresh="refresh($select.search)"
                refresh-delay="400">
                <div class="clearfix">
                    <div class="hidden-xs col-sm-2">
                        <img ng-if="data.picture" src="{{data.picture}}"/>
                        <span ng-if="data.category">{{data.category}}</span>
                    </div>
                    <div class="col-xs-9 col-sm-8" >
                        <span class="text-bold text-capitalize">{{data.title}}</span> <br/>
                        <span class="">{{data.sub_title}}</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 text-center" style="overflow: hidden;" >
                        <span class="text-big" ng-if="data.points !== false">{{data.points}}</span>
                    </div>
                </div>
            </ui-select-choices>
        </ui-select>              
        <div class="input-group-btn" style="width:1%">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
</form>