<div class="clearfix bg-secondary padding-sm-side">
    <div class="navbar-header">
        <div class="header-title pull-left hidden-sm hidden-xs">
            <a ui-sref="videoplayer.home">FS Inspiration</a>
        </div>
    </div>
    <ul id="TopNav" class="nav navbar-nav text-capitalize navbar-no-collapse ">
        <li class="dropdown">
            <a data-toggle="dropdown" ng-if="currentSport"  class="text-big">
                <b class="caret"></b> 
                {{currentSport.name}}
            </a>
            <a data-toggle="dropdown" ng-if="!currentSport"  class="text-big">
                <b class="caret"></b> 
                All sports
            </a>
            <ul class="dropdown-menu">
                <li><a ui-sref="videoplayer.best" ng-click="setCurrentSport(null)">All sports</a></li>
                <li ng-repeat="sport in sports">
                    <a ui-sref="videoplayer.sport({sportName: sport.name})" 
                       ng-click="setCurrentSport(sport)">
                        <img ng-src="{{sport.name| imageUrl}}"> &nbsp;
                        {{sport.name}}
                    </a>
                </li>
            </ul>
        </li>
        <!--<li><a href=""><span class="glyphicon glyphicon-map-marker"></span> Best of</a></li>-->
        <li ng-if="authData.isAuthed()">
            <a ui-sref="addvideo"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </li>
        <li ng-if="!authData.isAuthed()">
            <a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        <li ng-if="!authData.isAuthed()">
            <a ui-sref="signup">Sign up</a>
        </li>
        <li ng-if="authData.isAuthed()">
            <a ui-sref="videoplayer.validation()"><span class="glyphicon glyphicon-check"></span></a>
        </li>
        <li ng-if="authData.isAuthed()" class="dropdown">
            <a class="" data-toggle="dropdown" >
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <ul class="dropdown-menu">
                <li> <a ui-sref="dashboard"><span class="glyphicon glyphicon-dashboard"></span> My tricks</a></li>
                <li> <a ui-sref="myriderprofile.view"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li> <a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                <li ng-click="logout()">
                    <a ui-sref="login">
                        <span class="glyphicon glyphicon-log-out"></span> Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="bg-secondary padding-sm-side" top-search>
</div>