
<div class="item bg-primary" ng-class="$parent.playerInfo.id === videoTag.id ? 'active' : ''" style="text-transform: capitalize;">
    <div class="item-heading">
        <div class="row clickable" ng-click="view(videoTag)">
            <div class="col-xs-3">
                <div class="item-sport">
                    <span>
                        <img ng-src="{{videoTag.sport_name| imageUrl}}" 
                             title="{{videoTag.sport_name}}"
                             alt="{{videoTag.sport_name}}"/>
                    </span>
                </div>
            </div>
            <div class="col-xs-7">
                <span class="item-title">
                    {{videoTag.tag_name}}
                </span>
            </div>
            <div class="col-xs-2">
                <div class="dropdown">
                    <button class="btn btn-primary" ng-click="share(videoTag)" title="Share" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-share"></span> 
                    </button>
                    <ul class="dropdown-menu nav-stacked nav-pills dropdown-menu-right">
                        <li>
                            <a facebook 
                               class="facebookShare" 
                               data-url='http://google.com'>
                            </a>
                        </li>
                        <li>
                            <a twitter 
                               data-count='horizontal' 
                               data-url='{{url}}'  
                               data-size="medium" 
                               data-text='{{text}}' >Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <p class="item-category">
                    {{videoTag.category_name}}
                </p>
            </div>
            <div class="col-xs-7" ng-controller="VideoTagPointsController">
                <button type="button" class="btn btn-primary"  ng-click="down(videoTag)">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
                <span class="item-points">
                    {{videoTag.count_points}}
                </span>
                <button type="button" class="btn btn-primary" ng-click="up(videoTag)">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </button>
            </div>
            <div class="col-xs-2">
                <div class="dropdown">
                    <button class="btn btn-primary" data-toggle="dropdown">
                        <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu nav-stacked nav-pills dropdown-menu-right">
                        <li>
                            <a ng-href="#/Videos/view/{{videoTag.video_id}}">
                                <span class="glyphicon glyphicon-play-circle"></span>  
                                View full video
                            </a>
                        </li>           
                        <li class="divider"></li>
                        <li>
                            <a href="" ng-click="openReportErrorModal(videoTag)">
                                <span class="glyphicon glyphicon-warning-sign"></span> 
                                Report error
                            </a>
                        </li>
                        <li ng-if="videoTag.removable">
                            <a href="" ng-click="removeVideoTag($index)">
                                <span class="glyphicon glyphicon-remove"></span> 
                                remove
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
