<div class="view-rider clearfix">
    <div ng-if="hasRiderProfile()">
        <div rider-box rider="rider"></div>
    </div>
    <div ng-if="!hasRiderProfile()" class="text-center">
        <h3 class="page-title"> Create your performer profile now </h3>
        <p class="text-muted">
            Creating a performer profile allow you to be recognised and tag in video. 
        </p>
    </div>
</div>
<div class="text-center" ng-if="isEditabled()">
    <a type="button" 
       id="buttonEditProfile"
       class="btn btn-primary"
       ui-sref="myriderprofile.edit">
        <span class="glyphicon glyphicon-edit"></span>
        <span ng-if="hasRiderProfile()">Edit</span> 
        <span ng-if="!hasRiderProfile()">Create</span> 
    </a>
</div>