<view-title>performer {{rider.firstname}} {{rider.lastname}} ({{rider.nationality}})</view-title>
<div class="view-rider clearfix">
    <div class="thumbnail col-sm-4">
        <img ng-if="rider.picture_portrait" ng-src="{{rider.picture_portrait}}">
        <img ng-if="!rider.picture_portrait" src="img/icon_avatar.png">
    </div>
    <div class="col-sm-8">
        <h2 class="page-title text-capitalize">{{rider.firstname}} {{rider.lastname}}</h2>
        <table class="table table-striped">
            <tr>
                <td>Nationality</td>
                <td class="text-bold">{{rider.nationality}}</td>
                <!--<td>Level</td>
                <td class="text-bold">{{rider.level_string}}</td>
            </tr>
            <tr>-->
                <td>Tagged</td>
                <td class="text-bold" ng-if="rider.count_tags > 0">
                    {{rider.count_tags}} time(s) <br/>
                    <a ui-sref="videoplayer.rider({rider_id: rider.slug})" 
                       ng-click="showRiderVideos(rider)">
                        view videos
                    </a>
                </td>
                <td class="text-bold" ng-if="rider.count_tags === 0">
                    Never
                </td>
            </tr>
        </table>

        <div ng-if="rider.sports.length > 0">
            <h3>Sports</h3>
            <ul class="list-unstyled list-inline">
                <li ng-repeat="data in rider.sports" class="margin-top">
                    <a class="btn btn-primary" 
                       ui-sref="videoplayer.sport({sportSlug: sport.slug, categorySlug:data.category.slug})">
                        {{data.sport.name}} {{data.category.name}} ({{data.count_ref}})
                    </a>
                </li>
            </ul>
        </div> 

        <div ng-if="rider.popular_tags.length > 0">
            <h3>Top tricks</h3>
            <ul class="list-unstyled list-inline">
                <li ng-repeat="tag in rider.popular_tags"  class="margin-top">
                    <a class="btn btn-primary" 
                       ui-sref="videoplayer.sport({sportSlug: sport.slug, categorySlug:data.category.slug})">
                        {{tag.name}} - {{tag.category.name}} {{tag.sport.name}} ({{tag.count_ref}})
                    </a>
                </li>
            </ul>
        </div> 

    </div>
</div>