<div class="inline" itemscope itemtype="http://schema.org/InteractionCounter">
    <button type="button" class="btn btn-primary"  
            ng-click="down(controller, data)" 
            ng-disabled="data.user_rate !== 'none'"
            ng-show="allowedToVote"
            ng-class="data.user_rate === 'down' ? 'active' : ''">
        <span class="glyphicon glyphicon-arrow-down"></span>
    </button>
    <span class="item-points" itemprop="userInteractionCount">
        {{data.count_points}}
    </span>
    <button type="button" 
            class="btn btn-primary" 
            ng-click="up(controller, data)" 
            ng-disabled="data.user_rate !== 'none'"
            ng-show="allowedToVote"
            ng-class="data.user_rate === 'up' ? 'active' : ''">
        <span class="glyphicon glyphicon-arrow-up"></span>
    </button>
</div>