
<div class="container bg-primary margin-top border-radius padding-sm">
    <h2 class="page-title" data-view-title>Start reviewing tricks</h2>
    <p>
        You can review tricks added by other members for a sport.
    </p>
    <p class="text-danger"  ng-if="!SharedData.currentSport">
        Pick the sport you want to review:
    </p>
    <ul class="nav nav-pills">
        <li ng-repeat="sport in sports">
            <a ng-click="SharedData.setCurrentSport(sport)" ui-sref="videoplayer.validation({sportSlug:sport.slug})" >
                {{sport.name}} 
            </a>
        </li>
    </ul>
</div>


