<div class="media">
    <span class="col-xs-4 text-center">
        <img class="thumbnail" ng-src="{{video.thumbnail('default')}}" alt="Video thumbnail">
    </span>
    <div class="col-xs-8">
        <h4 class="media-heading">
            <a ui-sref="addtag({videoId: id})">{{video.title()}}</a>
        </h4> 
        <p>
            <span class="label label-info">{{video.provider()}}</span> - 
            <span  class="text-muted"> published {{video.published() | timeago}}</span>
        </p>
        <!--<p class="text-muted">
            {{video.description()}}
        </p>-->
    </div> 
</div>