<div    class="list-tricks"
        ng-show="playerData.showListTricks">
    <div
        class="container-fluid"
        >
        <div class="close-search" ng-if="!videoTagData.currentTag">
            <a href="#" 
               ng-click="playerData.showListTricks = false"
               class="text-big padding-sm"><span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>

        <ul ng-if="showCategories()"
            class="nav nav-pills nav-justified text-bold margin-bottom margin-top text-capitalize">
            <li class="bg-primary-darker" 
                ng-if="SharedData.currentSport.categories.length > 1"
                ng-class="{active: SharedData.currentCategory === null}">
                <a ui-sref="videoplayer.sport({category: null})"
                   ng-click="setCategory(null)">
                    All 
                </a>
            </li>
            <li class="bg-primary-darker" 
                ng-repeat="category in SharedData.currentSport.categories"
                ng-class="{active: SharedData.currentCategory.id === category.id || SharedData.currentSport.categories.length === 1}">
                <a  ui-sref="videoplayer.sport({category: category.slug})"
                    ng-click="setCategory(category)">
                    {{category.name}}
                </a>
            </li>
        </ul>

        <div class="search-context text-capitalize margin-top">
            <ul class="list-inline">
                <li ng-repeat="filter in videoTagData.filters" search-item="filter"></li>
                <li>
                    <div class="search-card" 
                         id="AppendFilterBtn"
                         ng-click="toggleAppendFilters()" 
                         ng-class="{active: videoTagData.appendFilters}">
                        <div class="search-card-content">
                            <span class="search-card-title">
                                <span class="glyphicon glyphicon-plus"></span>
                            </span> 
                            <br/>
                            <span class="search-card-sub-title">
                                Add filter
                            </span> 
                        </div>
                        <div ng-if="videoTagData.appendFilters"
                             class="search-card-remove">
                            <a href="#" class="remove-item">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <div ng-repeat="videoTag in videoTagData.getItems()" ng-if="$index % 2 == 0" class="row clearfix">
            <div class="col-sm-6 nopadding">
                <div video-tag-item video-tag="videoTag"></div>
            </div>
            <div class="col-sm-6 nopadding" ng-if="videoTagData.getItems().length > $index + 1">
                <div video-tag-item video-tag="videoTagData.getItems()[$index+1]"></div>
            </div>
            <div style='clear: both;'></div>
        </div>

        <div class="text-center padding-sm" ng-if="videoTagData.getLoader().hasNextPage()">
            <button ng-disabled='videoTagData.getLoader().loading' class="btn btn-primary" ng-click="videoTagData.getLoader().loadNextPage()">
                <span ng-show='videoTagData.getLoader().loading'> Loading data...</span>
                <span ng-show='!videoTagData.getLoader().loading'> Load more</span>
            </button>
        </div>

        <div ng-if="!videoTagData.getLoader().hasData()" 
             class="message-no-result">
            <p ng-if="playerData.isMode('view')">
                Oups, there is no results for this search...
            <p/>
            <p>
                <a ui-sref="addvideo"> Add tricks now</a>
            </p>
        </div>

    </div>
</div>