<form class="navbar-form" role="search">
    <div  class="input-group">    
        <div class="input-group-btn" style="width:1%">  
            <button class="btn btn-default"  type="button" ng-click="onSearchButtonClick()">
                <span class="glyphicon glyphicon-search"></span>
            </button>    
            <button ng-if="videoTagData.appendFilters" 
                    class="btn btn-default btn-add-filters" 
                    type="button" 
                    ng-click="videoTagData.appendFilters = false">
                <span class="glyphicon glyphicon-plus" ></span>
                <span class="glyphicon glyphicon-remove" title="Stop adding filters"></span>
            </button>
        </div>
        <ui-select 
            ng-click="onSearchBarSelected()"
            id="SearchBar"
            ng-model="search.selected"
            theme="bootstrap"
            on-select="onSelect($item, $model)"
            reset-search-input="true">
            <ui-select-match placeholder="Search tricks, riders, playlists" >
                <span class="text-bold text-capitalize" >{{$select.selected.title}} </span> 
                <span ng-if="$select.selected.sub_title"> - {{$select.selected.sub_title}} </span>
            </ui-select-match>
            <ui-select-choices
                repeat="data in results"
                refresh="refresh($select.search)"
                refresh-delay="400"
                group-by="groupBySearchType">
                <div class="clearfix">
                    <!--
                    <div class="col-xs-1" >
                        <span class="glyphicon glyphicon-plus-sign" 
                              title="Add this filter to the current search" 
                              ng-click=""></span>
                    </div>-->
                    <div class="col-xs-9" >
                        <span class="text-bold text-capitalize">{{data.title}}</span> <br/>
                        <span class="">{{data.sub_title}}</span>
                    </div>
                    <div class="col-xs-3 text-center" style="overflow: hidden;" >
                        <span class="text-big" ng-if="data.points !== false">{{data.points}}</span>
                    </div>
                </div>
            </ui-select-choices>
        </ui-select>        
        <div class="input-group-btn" style="width:1%">      
            <button class="btn btn-default" type="button" ng-if="isLoading">
                <img ng-src="{{ 'ajax_loader.gif' | imageUrl }}" alt="Loading..."></span>
            </button>
        </div>
    </div>
</form>