<form class="navbar-form" role="search">
    <div  class="input-group">
        <ui-select 
            ng-click="onSearchBarSelected()"
            id="SearchBar"
            ng-model="search.selected"
            theme="bootstrap"
            on-select="onSelect($item, $model)"
            reset-search-input="false">
            <ui-select-match placeholder="Search tricks, riders, playlists" >
                <span  ng-if="$select.selected.category" class="text-bold text-uppercase" >{{$select.selected.category}}: </span> 
                <span class="text-bold text-capitalize" >{{$select.selected.title}} </span> 
                <span ng-if="$select.selected.sub_title"> - {{$select.selected.sub_title}} </span>
            </ui-select-match>
            <ui-select-choices
                repeat="data in results"
                refresh="refresh($select.search)"
                refresh-delay="400">
            </ui-select-choices>
        </ui-select>        
        <!--
        <select id="lunch" 
                class="form-control"
                style="width: 20%">
          <option>Everywhere</option>
        </select>-->
        <div class="input-group-btn" style="width:1%">      
            <button class="btn btn-default" type="button" ng-click="onSearchButtonClick()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
</form>