<div class="item item-video-tag bg-primary clearfix" 
     ng-class="{ 'active': videoTagData.currentTag.id === videoTag.id}" >

    <div class="item-sport">
        <span ng-if="videoTag.sport_name">
            <img ng-src="{{videoTag.sport_name| sportIconUrl}}" 
                 title="{{videoTag.sport_name}}"
                 alt="{{videoTag.sport_name}}"/>
        </span>
    </div>
    <div class="col-xs-3 item-thumbnail hide-no-room">
        <img ng-src="{{videoTag.thumbnail}}"/>
    </div>
    <div class="col-xs-9 item-content">
        <div class="">
            <div class="col-xs-10 clickable"  ng-click="view(videoTag)">
                <p class="item-title text-capitalize" ng-if="videoTag.tag_name">
                    <!--<a ui-sref="videoplayer.realization({videoTagId: videoTag.id})">
                    </a>-->
                    {{videoTag.tag_name}} ({{videoTag.category_name}})
                </p>
                <p class="item-title text-success" ng-if="!videoTag.tag_name && videoTag.mode === 'edition'">
                    <span class="glyphicon glyphicon-edit"></span> 
                    Provide the trick name
                </p>
                <div    class="item-user-xs" 
                        ng-if="videoTag.rider_name" >
                    <span class="thumbnail-round-xs">
                        <img ng-if="videoTag.rider_picture_round_xs" ng-src="videoTag.rider_picture_round_xs"/>
                    </span>
                    <a  ui-sref="videoplayer.rider({riderId: videoTag.rider_slug})"
                        class="item-user-name text-info text-capitalize">
                        {{videoTag.rider_name}}
                    </a>
                </div>
                <div    class="item-user-xs" 
                        ng-if="!videoTag.rider_name" >
                    <a class="item-user-name text-muted"
                       >
                        Unknown rider
                    </a>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="dropdown item-video-tag-sharing" ng-if="videoTag.mode !== 'edition'">
                    <button class="btn btn-primary" title="Share" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-share"></span> 
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="text-bold">
                            <a copy-this-link ui-sref="videoplayer.realization({videoTagId:videoTag.slug})"> Copy this link </a>
                        </li>
                        <li class="text-bold">
                            <a href=""> Social sharing coming soon ...</a>
                        </li>
                        <!--
                        <li>
                            <div facebook 
                                 class="btn-facebook-share" 
                                 data-title='Share this trick'
                                 data-picture-url='http://i.imgur.com/WACv9Cl.jpg' 
                                 ng-url="{{WEBROOT_FULL}}/view/{{videoTag.id}}"
                                 data-shares='shares'>{{ shares}}
                            </div>
                        </li>
                        <li>
                            <a twitter 
                               data-count='horizontal' 
                               data-url='{{url}}'  
                               data-size="medium" 
                               data-text='{{text}}' >Twitter</a>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="hide-no-room">
            <div class="col-xs-10">
                <div class="padding-sm" 
                     ng-if="!playerData.isMode('view')" >
                    {{videoTag.begin | secondsToHours}} to {{videoTag.end | secondsToHours}}
                </div>
                <div ng-if="playerData.isMode('view')" >

                    <p class="text-muted item-video-tag-remaining"  ng-show="videoTag.time_to_play > 0">
                        <span>
                            playing in {{videoTag.time_to_play}} seconds.
                        </span>
                    </p>

                    <div up-down-points
                         ng-show="videoTag.time_to_play == null || videoTag.time_to_play == 0"
                         data="videoTag"
                         controller="VideoTagPoints"
                         allowed-to-vote="videoTagData.currentTag.id === videoTag.id"
                        >
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="dropdown item-video-tag-options"  ng-show="videoTag.mode !==  'edition'">
                    <button class="btn btn-primary" data-toggle="dropdown">
                        <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu nav-stacked nav-pills dropdown-menu-right">
                        <li>
                            <a ui-sref="videoplayer.video({videoId:videoTag.video_id})">
                                <span class="glyphicon glyphicon-play-circle"></span>  
                                View full video
                            </a>
                        </li>           
                        <li>
                            <a  ui-sref="videoplayer.tag({tagSlug:videoTag.tag_slug})">
                                <span class="glyphicon glyphicon-eye-open"></span>  
                                View all videos for this trick
                            </a>
                        </li>           
                        <li>
                            <a href="" 
                               ng-if="videoTag.status === 'validated'"
                               ng-click="openReportErrorModal(videoTag)">
                                <span class="glyphicon glyphicon-warning-sign"></span>  
                                Report an error
                            </a>
                        </li>      
                        <li>
                            <a href="" 
                               ng-click="addToPlaylist(videoTag)">
                                <span class="glyphicon glyphicon-plus-sign"></span> 
                                Add to playlist...
                            </a>
                        </li>
                        <li ng-if="(videoTag.status === 'pending' || videoTag.status === 'rejected') &&
                            videoTag.user_id === authData.user.id">
                            <a ui-sref="addtag({videoId:videoTag.video_id, tagId:videoTag.id})">
                                <span class="glyphicon glyphicon-edit"></span> 
                                Edit
                            </a>
                        </li>
                        <li ng-show="(videoTag.status === 'pending' || videoTag.status === 'rejected') &&
                            videoTag.user_id === authData.user.id">
                            <a href="#" class="btn-remove-item text-danger">
                                <span class="glyphicon glyphicon-trash"></span> 
                                Remove
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
