<div class="container padding-sm">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Select the video</h3>
        </div>
        <div class="panel-body">


            <form class="form" name="form" novalidate>

                <div class="form-group clearfix">
                    <div class="col-xs-4">
                        <select ng-model="data.provider_id" 
                                class="form-control"
                                ng-disabled="playerProviders.length <= 1"
                                ng-options="provider.name as provider.name for provider in playerProviders"
                                required
                                >
                        </select>
                    </div>
                    <div class="col-xs-8"  ng-class="{ 'has-error': form.video_url.$invalid }">
                        <input type="text" 
                               class="form-control"
                               ng-model="data.video_url"
                               name="video_url"
                               placeholder="Video id"
                               rule-youtube-video-id
                               required/>
                        <p class="bg-info padding-sm" ng-show="form.video_url.$pending.youtubeVideoId">Checking the video id</p>
                        <p class="bg-warning padding-sm"  ng-show="form.video_url.$error.youtubeVideoId">This is not a valid video id</p>
                    </div>
                </div>
                <!--
                <div ng-show="form.$valid" style="margin: auto;">
                    <youtube   
                        player-video="data"
                        height="player.height" 
                        width="player.height" ></youtube> 
                </div>
                -->

                <div ng-include="'html/Elements/feedback.html'"></div>

                <div class="text-center form-group" ng-show="form.$valid">
                    <button type="button" ng-click="add(data)" class="btn btn-primary">Next</button>
                </div>
            </form>

            <div ng-if="recentVideos.length > 0">
                <h3>Last video tagged</h3>
                <div class="padding-sm">
                    <ul class="list-unstyled">
                        <li ng-repeat="video in recentVideos">
                            <div ng-include="'html/Videos/item.html'"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
