<div ng-if="video.video_tags.length > 0">
    <div class="col-md-8">
        <youtube   
            player-video="playerInfo"
            height="player.height" 
            width="player.height" ></youtube> 
    </div>
    <div class="col-md-4">
        <div ng-repeat="videoTag in video.video_tags">
            <div ng-include="'html/VideoTags/item.html'"></div>
        </div>
    </div>
</div>
<div class="container" ng-if="video.video_tags.length === 0">
    <p class="bg-info padding-sm text-info text-center">
        There is no trick for this sport right now! It's coming soon though !
    </p>
</div>