<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Created</th>
            <th>Last login</th>
            <th>Info</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users" removable-item removable-item-options="removeOptions">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.created | timeago}}</td>
            <td>{{user.modified | timeago}}</td>
            <td>
                <span class="glyphicon glyphicon-tags"></span> Tags: {{user.count_tags}} <br/>
                <span class="glyphicon glyphicon-leaf"></span> Email verified: {{user.email_verified}} <br/>
            </td>
        </tr>
    </tbody>
</table>